

<app-header> </app-header>
<app-specremove></app-specremove>
  <form #myForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" class="form-control" [(ngModel)]="formData.name" required>
      <div *ngIf="myForm.controls['name'].invalid && (myForm.controls['name'].dirty || myForm.controls['name'].touched)" class="text-danger">
        Name is required.
      </div>
    </div>
  
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" class="form-control" [(ngModel)]="formData.email" required email>
      <div *ngIf="myForm.controls['email'].hasError('email') && (myForm.controls['email'].dirty || myForm.controls['email'].touched)" class="text-danger">
        Invalid email address.
      </div>
      <div *ngIf="myForm.controls['email'].hasError('required') && (myForm.controls['email'].dirty || myForm.controls['email'].touched)" class="text-danger">
        Email is required.
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Submit</button>
  </form>
  <input type="text"  [(ngModel)]="duplicatetext">
  <p>{{duplicatetext}}</p>

  <div appCustombg [appCustombg]="'lightblue'">
    Hover over me to change my background color!
  </div>
  <hr>
  Multiplication Pipe
  <p>{{5 | multiply:5}}</p>
<hr>
 
<app-custome-menu-bar></app-custome-menu-bar>
 
<hr>
 
<router-outlet></router-outlet>  
Interpolation : {{title}}
<br>
Method : {{Interpolation()}}
<br>
{{"Interpolation inside :" + title}} 
 <!-- This is a custom element : <app-p-binding></app-p-binding>   -->
<hr>
 As a class value <div class='app-p-binding'></div>
 As a  Property <div app-p-binding></div> 
<app-class-binding></app-class-binding>
<hr>
<app-style-binding></app-style-binding>
<app-event-binding></app-event-binding>
<app-if></app-if>
<app-referencevariablea></app-referencevariablea>
<hr> 
<app-outputdecorator></app-outputdecorator>
<hr>